<a href="https://colab.research.google.com/github/rockiir/Estudo_Python/blob/main/logica_de_programacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lógica de programação Basica

By: [Luiz Otávio Miranda](https://beacons.ai/otaviomiranda)

## Coerção de tipos
Conversão de tipos, coerção
type convertion, typecasting, coercion
é o ato de converter um tipo em outro
tipos imutáveis e primitivos:
Str, int, float, bool

In [1]:
print(int('1'), type(int('1')))
print(type(float('1') + 1))
print(bool(' '))
print(str(11) + 'b')

1 <class 'int'>
<class 'float'>
True
11b

 ## Introdução as Variaveis
 Variáveis são usadas para salvar algo na memória do computador.

** PEP8**: inicie variáveis com letras minúsculas, pode usar
 números e underline _.

 O sinal de = é o operador de atribuição. Ele é usado para
 atribuir um valor a um nome (variável).
 Uso: nome_variavel = expressão

In [2]:
nome_completo = 'Luiz Otávio Miranda'
soma_dois_mais_dois = 2 + 2
int_um = bool('1')
print(int_um, type(int_um))
print(nome_completo, soma_dois_mais_dois)

True <class 'bool'>
Luiz Otávio Miranda 4

In [3]:
nome = 'Luiz'
idade = 19
maior_de_idade = idade >= 18
print('Nome:', nome, 'Idade:', idade)
print('É maior?', maior_de_idade)

Nome: Luiz Idade: 19
É maior? True

Exercicio - variaveis e tipos de dados

In [4]:
nome = 'Raquel'
sobrenome = 'Matos'
idade = 28
ano_nascimento = 2023 - idade
maior_de_idade = idade >= 18
altura_metros = 1.81

print('Nome:', nome)
print('Sobrenome:', sobrenome)
print('Idade:', idade)
print('Ano de nascimento:', ano_nascimento)
print('É maior de idade?', maior_de_idade)
print('Altura em metros:', altura_metros)

Nome: Raquel
Sobrenome: Matos
Idade: 28
Ano de nascimento: 1995
É maior de idade? True
Altura em metros: 1.81

##Operadores aritiméticos

In [5]:
adicao = 10 + 10
print('Adição', adicao)

subtracao = 10 - 5
print('Subtração', subtracao)

multiplicacao = 10 * 10
print('Multiplicação', multiplicacao)

divisao = 10 / 3  # float
print('Divisão', divisao)

divisao_inteira = 10 // 3
print('Divisão inteira', divisao_inteira)

exponenciacao = 2 ** 10
print('Exponenciação', exponenciacao)

modulo = 55 % 2  # resto da divisão
print('Módulo', modulo)

print(10 % 8 == 0)
print(16 % 8 == 0)
print(10 % 2 == 0)
print(15 % 2 == 0)
print(16 % 2 == 0)

Adição 20
Subtração 5
Multiplicação 100
Divisão 3.3333333333333335
Divisão inteira 3
Exponenciação 1024
Módulo 1
False
True
True
False
True

##Concatenação e Repetição

In [6]:
concatenacao = 'Luiz' + ' ' + 'Otávio'
print(concatenacao)

a_dez_vezes = 'A' * 10
tres_vezes_luiz = 3 * 'Luiz'
print(a_dez_vezes)
print(tres_vezes_luiz)

Luiz Otávio
AAAAAAAAAA
LuizLuizLuiz

##Precedencia entre os operadores Aritméticos

In [7]:
# 1. (n + n)
# 2. **
# 3. * / // %
# 4. + -
conta_1 = (1 + int(0.5 + 0.5)) ** (5 + 5)
print(conta_1)

1024

### Exercicio IMC

In [8]:
nome = 'Raquel'
altura = 1.81
peso = 75
imc = peso / altura ** 2

print(nome, 'tem', altura, 'de altura,',)
print('pesa', peso, 'quilos e seu imc é',)
print(imc)

Raquel tem 1.81 de altura,
pesa 75 quilos e seu imc é
22.89307408198773

##Formatação de Strings

### F-Strings (formatação de strings)

In [9]:
nome = 'Luiz Otávio'
altura = 1.80
peso = 95
imc = peso / altura ** 2

"f-strings"
linha_1 = f'{nome} tem {altura:.2f} de altura,'
linha_2 = f'pesa {peso} quilos e seu imc é'
linha_3 = f'{imc:.2f}'

print(linha_1)
print(linha_2)
print(linha_3)

Luiz Otávio tem 1.80 de altura,
pesa 95 quilos e seu imc é
29.32

### Formatação de strings com método format

In [10]:
a = 'AAAAA'
b = 'BBBBBB'
c = 1.1
string = 'b={nome2} a={nome1} a={nome1} c={nome3:.2f}'
formato = string.format(
    nome1=a, nome2=b, nome3=c
)

print(formato)

b=BBBBBB a=AAAAA a=AAAAA c=1.10

## Input

In [11]:
numero_1 = input('Digite um número: ')
numero_2 = input('Digite outro número: ')

int_numero_1 = int(numero_1)
int_numero_2 = int(numero_2)

print(f'A soma dos números é: {int_numero_1 + int_numero_2}')

Digite um número: 2
Digite outro número: 2
A soma dos números é: 4

## Condicionais (if,Elif, Else)

In [12]:
entrada = input('Você quer "entrar" ou "sair"? ')

if entrada == 'entrar':
    print('Você entrou no sistema')

    print(12341234)
elif entrada == 'sair':
    print('Você saiu do sistema')
else:
    print('Você não digitou nem entrar e nem sair.')

print('FORA DOS BLOCOS')

Você quer "entrar" ou "sair"? entrar
Você entrou no sistema
12341234
FORA DOS BLOCOS

In [13]:
condicao1 = True
condicao2 = True
condicao3 = True
condicao4 = True

if condicao1:
    print('Código para condição 1')
    print('Código para condição 1')
elif condicao2:
    print('Código para condição 2')
elif condicao3:
    print('Código para condição 3')
elif condicao4:
    print('Código para condição 4')
else:
    print('Nenhuma condição foi satisfeita.')

if 10 == 10:
    print('Outro if')

print('Fora do if')

Código para condição 1
Código para condição 1
Outro if
Fora do if

##Operadores Relacionais

### Operadores de comparação (relacionais)

OP      Significado         Exemplo (True)

">"       maior               2 > 1

">"=      maior ou igual      2 >= 2

<       menor               1 < 2

<=      menor ou igual      2 <= 2

==      igual               'a' == 'a'

!=      diferente           'a' != 'b'

In [14]:
maior = 2 > 3
maior_ou_igual = 2 >= 2
menor = 1 < 2
menor_ou_igual = 2 <= 2
igual = 'a' == 'a'
diferente = 'a' != 'b'
print(maior, maior_ou_igual, menor, maior_ou_igual, igual, diferente)

False True True True True True

## Operador Lógico

In [15]:
# Operadores lógicos
# and (e) or (ou) not (não)
# and - Todas as condições precisam ser
# verdadeiras.
# Se qualquer valor for considerado falso,
# a expressão inteira será avaliada naquele valor
# São considerados falsy (que vc já viu)
# 0 0.0 '' False
# Também existe o tipo None que é
# usado para representar um não valor

# Avaliação de curto circuito
print(True and False and True)
print(True and 0 and True)

False
0

In [16]:
entrada = input('[E]ntrar [S]air: ')
senha_digitada = input('Senha: ')

senha_permitida = '123456'

if entrada == 'E' and senha_digitada == senha_permitida:
     print('Entrar')
else:
     print('Senha Incorreta')

[E]ntrar [S]air: E
Senha: 2222
Senha Incorreta

## Operadores In e Not In

In [17]:
# Operadores in e not in
# Strings são iteráveis
#  0 1 2 3 4 5
#  O t á v i o
# -6-5-4-3-2-1
# nome = 'Otávio'
# print(nome[2])
# print(nome[-4])
# print('vio' in nome)
# print('zero' in nome)
# print(10 * '-')
# print('vio' not in nome)
# print('zero' not in nome)

nome = input('Digite seu nome: ')
encontrar = input('Digite o que deseja encontrar: ')

if encontrar in nome:
    print(f'{encontrar} está em {nome}')
else:
    print(f'{encontrar} não está em {nome}')

Digite seu nome: Raquel
Digite o que deseja encontrar: q
q está em Raquel


##Fatiamento de Strings

In [18]:
"""
Fatiamento de strings
 012345678
 Olá mundo
-987654321
Fatiamento [i:f:p] [::]
Obs.: a função len retorna a qtd
de caracteres da str
"""
variavel = 'Olá mundo'
print(variavel[::-1])

odnum álO